<!DOCTYPE html>
<html>

<head>
  <style>
    body {
      margin: 0px;
    }

    #header {
      width: 100%;
      float: left;
      background-color: lightblue;
      padding: 10px;
    }

    #main_body {
      width: 100%;
      padding: 30px;
    }
  </style>

  <title><%= title %></title>
  <div id='header'>
    <h2><a href="http://localhost:3000"><%= title %></a></h2>
  </div>

  <script>
  async function submitInterval(){
    var xhr = new XMLHttpRequest();
    xhr.open("POST", 'http://localhost:3000/tradingPhrase/interval', true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.send(JSON.stringify({
      interval: document.getElementById('new_interval').value
    }));
    xhr.onreadystatechange = function() {
    if (xhr.readyState == XMLHttpRequest.DONE) {
      window.location.href = "http://localhost:3000/";
    }
}

  }
  </script>


</head>

<body>
  <div id='main_body'>
    <br><br>
    Current Interval: <%= interval.value%>
    <br><br>
    New Interval: <input type="string" id="new_interval" name="new_interval">
    <br><br>
    <button onclick="submitInterval()">Submit</button>
  </div><!-- main+body-->
</body>

</html>