<!DOCTYPE html>
<html>
  <head>
    <style>
    body{
      margin: 0px;
    }
    #header{
      width: 100%; 
      float:left; 
      background-color: lightblue;
      padding: 10px;
    }
    #main_body{
      width: 100%;
    }
    </style>

    <title><%= title %></title>
    <div id = 'header'>
      <h2><%= title %></h2>
    </div>
  </head>
  <body>
    <div id = 'main_body'>
    Get order details
      </div><!-- main+body-->
  </body>
</html>
